<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Twinkly List.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74DBA2B31E5C1E36007067AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74DBA2CA1E5C1E36007067AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74DBA2D51E5C1E36007067AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
